@page "/admin/resources/detail/{ResourceName}"
@attribute [Authorize(Policy = PolicyNameDefaults.SuperAdminPolicy)]

<PageTitle>Resource Details</PageTitle>

<MudBreadcrumbs Items="_crumbs"></MudBreadcrumbs>

@if (_model is null)
{
    if (_isLoading)
    {
        <MudText Typo="Typo.h6" Color="Color.Primary">Loading ...</MudText>
    }
    else
    {
        <MudText Class="py-5" Typo="Typo.h6" Color="Color.Warning">Ooops! we couldn't find that resource!</MudText>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@(() => NavigationManager.NavigateTo("/admin/resources"))">Back to Identity Resources</MudButton>
    }
}
else
{
    <MudText Typo="Typo.h6">Identity Resources</MudText>
    <MudText Typo="Typo.body2" Class="pb-5">Use this page to edit the identity resource.</MudText>

    <EditForm Model="_model" OnValidSubmit="OnValidSubmitAsync">
        <DataAnnotationsValidator />
        <MudGrid>
            <MudItem xs="12">
                <MudButton ButtonType="ButtonType.Submit" FullWidth Variant="Variant.Filled" Color="Color.Primary" Disabled="@(_isLoading || _tempClaim != null || _tempProperty != null)">Save Changes</MudButton>
                </MudItem>
                <MudItem xs="12">
                <MudTextField AutoFocus
                                Required
                                Immediate
                          Counter="@(Globals.Models.ApiScopes.NameLength)"
                          Class="ml-auto"
                          Variant="Variant.Outlined"
                          Label="Name"
                          Mask="@(new RegexMask(@"^[\.a-zA-Z0-9]*$"))"
                          HelperText="Use letters, numbers, or periods to form a scope name."
                          For="@(() => _model.Name)"
                          @bind-Value="@_model.Name" />
                </MudItem>
                <MudItem xs="12">
                <MudTextField Immediate
                          Counter="@(Globals.Models.ApiScopes.DisplayNameLength)"
                          Class="ml-auto"
                          Variant="Variant.Outlined"
                          Label="Display Name"
                          For="@(() => _model.DisplayName)"
                          @bind-Value="@_model.DisplayName" />
                </MudItem>
                <MudItem xs="4">
                <MudCheckBox T="bool"
                         Class="mb-n3"
                         @bind-Checked="_model.Enabled"
                         Label="Is Enabled" />
                <MudText Class="text-muted ml-3" Typo="Typo.caption">Enable/disable the API scope.</MudText>
                </MudItem>
                <MudItem xs="4">
                <MudCheckBox T="bool"
                         Class="mb-n3"
                         @bind-Checked="_model.Required"
                         Label="Is Required" />
                <MudText Class="text-muted ml-3" Typo="Typo.caption">Is the scope required?</MudText>
                </MudItem>
                <MudItem xs="4">
                <MudCheckBox T="bool"
                         Class="mb-n3"
                         @bind-Checked="_model.Emphasize"
                         Label="Emphasize" />
                <MudText Class="text-muted ml-3" Typo="Typo.caption">Emphasize in discovery documents?</MudText>
                </MudItem>
                <MudItem xs="4">
                <MudCheckBox T="bool"
                         Class="mb-n3"
                         @bind-Checked="_model.ShowInDiscoveryDocument"
                         Label="Show in discovery" />
                <MudText Class="text-muted ml-3" Typo="Typo.caption">Show this scope in discovery document?</MudText>
                </MudItem>
                <MudItem xs="12">
                <div class="groupbox">
                    <MudText Style="font-size:small" Typo="Typo.body2">Claims</MudText>
                    <MudTable Items="_model.UserClaims"
                                Dense
                                Striped
                                CanCancelEdit
                                IsEditRowSwitchingBlocked
                          RowEditCancel="OnEditClaimCancel"
                          RowEditCommit="OnEditClaimCommit"
                          RowEditPreview="OnEditClaimStart"
                          EditTrigger="TableEditTrigger.EditButton">
                    <ToolBarContent>
                        <MudButton StartIcon="@Icons.Material.Outlined.Create"
                                   Variant=" Variant.Filled"
                                   Disabled="@(_isLoading || _tempClaim != null)"
                                   Color="Color.Secondary"
                                   OnClick="OnCreateClaimAsync">Create</MudButton>
                        <MudSpacer />
                    </ToolBarContent>
                    <ColGroup>
                        <col style="width:90%" />
                        <col />
                    </ColGroup>
                    <HeaderContent>
                        <MudTh><MudTableSortLabel SortBy="new Func<ClientClaim, object>(x=>x)">Type</MudTableSortLabel></MudTh>
                        <MudTh></MudTh>
                    </HeaderContent>
                    <RowTemplate Context="context2">
                        <MudTd DataLabel="Type">@context2.Value</MudTd>
                        <MudTd>
                            <MudIconButton Icon="@Icons.Material.Outlined.Delete"
                                           OnClick="() => OnDeleteClaimAsync(context2)"
                                           Class="pa-0"
                                           Disabled="@_isLoading" />
                        </MudTd>
                    </RowTemplate>
                    <RowEditingTemplate Context="context2">
                        <MudTd DataLabel="Type">
                            <MudTextField @bind-Value="@context2.Value" />
                        </MudTd>
                    </RowEditingTemplate>
                    <NoRecordsContent>
                        No claims were found.
                    </NoRecordsContent>
                    <LoadingContent>
                        Loading claims ...
                    </LoadingContent>
                    <PagerContent>
                        <MudTablePager />
                    </PagerContent>
                    <EditButtonContent Context="button">
                        <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Edit" Class="pa-0" OnClick="@button.ButtonAction" Disabled="@button.ButtonDisabled" />
                    </EditButtonContent>
                    </MudTable>
                </div>
                </MudItem>
                <MudItem xs="12">
                <div class="groupbox">
                    <MudText Style="font-size:small" Typo="Typo.body2">Properties</MudText>
                    <MudTable Items="_model.Properties"
                                Dense
                                Striped
                                CanCancelEdit
                                IsEditRowSwitchingBlocked
                          RowEditCancel="OnEditPropertyCancel"
                          RowEditCommit="OnEditPropertyCommit"
                          RowEditPreview="OnEditPropertyStart"
                          EditTrigger="TableEditTrigger.EditButton">
                    <ToolBarContent>
                        <MudButton StartIcon="@Icons.Material.Outlined.Create"
                                   Variant=" Variant.Filled"
                                   Disabled="@(_isLoading || _tempClaim != null || _tempProperty != null)"
                                   Color="Color.Secondary"
                                   OnClick="OnCreatePropertyAsync">Create</MudButton>
                        <MudSpacer />
                    </ToolBarContent>
                    <ColGroup>
                        <col style="width:45%" />
                        <col style="width:45%" />
                        <col />
                    </ColGroup>
                    <HeaderContent>
                        <MudTh><MudTableSortLabel SortBy="new Func<EditPropertyVM, object>(x=>x)">Key</MudTableSortLabel></MudTh>
                        <MudTh><MudTableSortLabel SortBy="new Func<EditPropertyVM, object>(x=>x)">Value</MudTableSortLabel></MudTh>
                        <MudTh></MudTh>
                    </HeaderContent>
                    <RowTemplate Context="context2">
                        <MudTd DataLabel="Key">@context2.Key</MudTd>
                        <MudTd DataLabel="Value">@context2.Value</MudTd>
                        <MudTd>
                            <MudIconButton Icon="@Icons.Material.Outlined.Delete"
                                           OnClick="() => OnDeletePropertyAsync(context2)"
                                           Class="pa-0"
                                           Disabled="@_isLoading" />
                        </MudTd>
                    </RowTemplate>
                    <RowEditingTemplate Context="context2">
                        <MudTd DataLabel="Key">
                            <MudTextField @bind-Value="@context2.Key" />
                        </MudTd>
                        <MudTd DataLabel="Value">
                            <MudTextField @bind-Value="@context2.Value" />
                        </MudTd>
                    </RowEditingTemplate>
                    <NoRecordsContent>
                        No properties were found.
                    </NoRecordsContent>
                    <LoadingContent>
                        Loading properties ...
                    </LoadingContent>
                    <PagerContent>
                        <MudTablePager />
                    </PagerContent>
                    <EditButtonContent Context="button">
                        <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Edit" Class="pa-0" OnClick="@button.ButtonAction" Disabled="@button.ButtonDisabled" />
                    </EditButtonContent>
                    </MudTable>
                </div>
                </MudItem>
                <MudItem xs="12">
                    <MudButton ButtonType="ButtonType.Submit" FullWidth Variant="Variant.Filled" Color="Color.Primary" Disabled="@(_isLoading || _tempClaim != null || _tempProperty != null)">Save Changes</MudButton>
                </MudItem>
                </MudGrid>
                </EditForm>
}
