@page "/"

<PageTitle>Index</PageTitle>

@if (_model is null)
{
    <div class="container">
        <div class="jumbotron">
            <MudText Typo="Typo.h4">@typeof(Index).Assembly.ReadProduct()</MudText>
            <MudText Style=@($"color: {GreenTheme.Instance().Palette.GrayDefault}") Class="px-5" Typo="Typo.body1">Version [ @typeof(Index).Assembly.ReadInformationalVersion() ]</MudText>
        </div>

        <AuthorizeView>
            <NotAuthorized>
                <MudAlert Class="my-8" Severity="Severity.Info">Login</MudAlert>
            </NotAuthorized>
        </AuthorizeView>
    </div>
}
else if (_model.User is null)
{
    <MudText Typo="Typo.h4">@typeof(Index).Assembly.ReadProduct()</MudText>
    <MudText Class="my-2" Typo="Typo.body1">SiteAdmin</MudText>

    <hr />

    <div class="mt-5">
        <MudContainer MaxWidth="MaxWidth.Small">
            <EditForm Model="_model" OnValidSubmit="OnValidSubmitAsync">
                <DataAnnotationsValidator />
                <MudCard>
                    <MudCardContent>
                        <MudTextField AutoFocus
                                            Required
                                            Immediate
                                    Counter="@(Globals.Models.Users.UserNameLength)"
                                    Variant="Variant.Outlined"
                                    Label="User Name"
                                    For="@(() => _model.UserName)"
                                    @bind-Value="@_model.UserName"
                                    Class="ml-auto" />
                        <MudTextField Required
                                            Immediate
                                    Counter="@(Globals.Models.Users.EmailLength)"
                                    Variant="Variant.Outlined"
                                    Label="Email"
                                    For="@(() => _model.Email)"
                                    @bind-Value="@_model.Email"
                                    Class="ml-auto" />
                        <MudText Class="my-2" Typo="Typo.caption">A password must be at least 6 charactes long, have at least one capitol letter, one number, and one symbol</MudText>
                        <MudTextField Required
                                            Immediate
                                    Counter="@(Globals.Models.Users.PasswordHashLength)"
                                    Variant="Variant.Outlined"
                                    Label="Password"
                                    For="@(() => _model.Password)"
                                    @bind-Value="@_model.Password"
                                    InputType="@_passwordInput"
                                    OnAdornmentClick="TogglePasswordVisibility"
                                    Adornment="Adornment.End"
                                    AdornmentIcon="@_passwordInputIcon"
                                    Class="ml-auto" />
                        <MudTextField Required
                                            Immediate
                                    Counter="@(Globals.Models.Users.PasswordHashLength)"
                                    Variant="Variant.Outlined"
                                    Label="Confirm Password"
                                    For="@(() => _model.ConfirmPassword)"
                                    @bind-Value="@_model.ConfirmPassword"
                                    InputType="@_passwordInput"
                                    OnAdornmentClick="TogglePasswordVisibility"
                                    Adornment="Adornment.End"
                                    AdornmentIcon="@_passwordInputIcon"
                                    Class="ml-auto" />
                    </MudCardContent>
                    <MudCardActions>
                        <MudButton ButtonType="ButtonType.Submit"
                                FullWidth
                                Variant="Variant.Filled"
                                Color="Color.Primary"
                                Class="ml-auto">Create Account</MudButton>
                    </MudCardActions>
                </MudCard>
            </EditForm>
        </MudContainer>
    </div>
}
