@page "/"

<PageTitle>Index</PageTitle>

@if (_model is null)
{
    <div class="container">
        <div class="jumbotron">
            <MudText Typo="Typo.h4">@typeof(Index).Assembly.ReadProduct()</MudText>
            <MudText Style=@($"color: {GreenTheme.Instance().Palette.GrayDefault}") Class="px-5" Typo="Typo.body1">Version [ @typeof(Index).Assembly.ReadInformationalVersion() ]</MudText>
        </div>

        <AuthorizeView>
            <NotAuthorized>
                <MudAlert Class="my-8" Severity="Severity.Info">@Localizer["Login"]</MudAlert>
            </NotAuthorized>
        </AuthorizeView>

        <MudText Class="pt-3" Typo="Typo.h6">@Localizer["Microservice"]</MudText>
        <ul style="list-style-type:square;">

        <li style="margin: 10px">@Localizer["Bullet1"] (<a style=@($"color: {GreenTheme.Instance().Palette.Info}") href="https://opensource.org/licenses/MIT">MIT</a> @Localizer["License"] *).</li>
        <li style="margin: 10px">@(new MarkupString(Localizer["Bullet2"]))</li>
        <li style="margin: 10px">@(new MarkupString(Localizer["Bullet3", GreenTheme.Instance().Palette.Info]))</li>
        <li style="margin: 10px">@(new MarkupString(Localizer["Bullet4", GreenTheme.Instance().Palette.Info, GreenTheme.Instance().Palette.Info]))</li>
        <li style="margin: 10px">@(new MarkupString(Localizer["Bullet5", GreenTheme.Instance().Palette.Info]))</li>
        <li style="margin: 10px">@(new MarkupString(Localizer["Bullet6", GreenTheme.Instance().Palette.Info]))</li>
        <li style="margin: 10px">@(new MarkupString(Localizer["Bullet7", GreenTheme.Instance().Palette.Info]))</li>
        <li style="margin: 10px">@Localizer["Bullet8"]</li>
        <li style="margin: 10px">@Localizer["Bullet9"]</li>
        </ul>
        <br />
        <MudText Style=@($"color: {GreenTheme.Instance().Palette.GrayDefault}") Class="px-4" Typo="Typo.caption">@Localizer["Bullet10"])</MudText>
    </div>
}
else if (_model.User is null)
{
    <MudText Typo="Typo.h4">@typeof(Index).Assembly.ReadProduct()</MudText>
    <MudText Class="my-2" Typo="Typo.body1">@Localizer["SiteAdmin"]</MudText>

    <hr />

    <div class="mt-5">
        <MudContainer MaxWidth="MaxWidth.Small">
            <EditForm Model="_model" OnValidSubmit="OnValidSubmitAsync">
                <DataAnnotationsValidator />
                <MudCard>
                    <MudCardContent>
                        <MudTextField AutoFocus
                                            Required
                                            Immediate
                                    Counter="@(Globals.Models.Users.UserNameLength)"
                                    Variant="Variant.Outlined"
                                    Label=@Localizer["UserName"]
                                    For="@(() => _model.UserName)"
                                    @bind-Value="@_model.UserName"
                                    Class="ml-auto" />
                        <MudTextField Required
                                            Immediate
                                    Counter="@(Globals.Models.Users.EmailLength)"
                                    Variant="Variant.Outlined"
                                    Label=@Localizer["Email"]
                                    For="@(() => _model.Email)"
                                    @bind-Value="@_model.Email"
                                    Class="ml-auto" />
                        <MudText Class="my-2" Typo="Typo.caption">A password must be at least 6 charactes long, have at least one capitol letter, one number, and one symbol</MudText>
                        <MudTextField Required
                                            Immediate
                                    Counter="@(Globals.Models.Users.PasswordHashLength)"
                                    Variant="Variant.Outlined"
                                    Label=@Localizer["Password"]
                                    For="@(() => _model.Password)"
                                    @bind-Value="@_model.Password"
                                    InputType="@_passwordInput"
                                    OnAdornmentClick="TogglePasswordVisibility"
                                    Adornment="Adornment.End"
                                    AdornmentIcon="@_passwordInputIcon"
                                    Class="ml-auto" />
                        <MudTextField Required
                                            Immediate
                                    Counter="@(Globals.Models.Users.PasswordHashLength)"
                                    Variant="Variant.Outlined"
                                    Label=@Localizer["ConfirmPassword"]
                                    For="@(() => _model.ConfirmPassword)"
                                    @bind-Value="@_model.ConfirmPassword"
                                    InputType="@_passwordInput"
                                    OnAdornmentClick="TogglePasswordVisibility"
                                    Adornment="Adornment.End"
                                    AdornmentIcon="@_passwordInputIcon"
                                    Class="ml-auto" />
                    </MudCardContent>
                    <MudCardActions>
                        <MudButton ButtonType="ButtonType.Submit"
                                FullWidth
                                Variant="Variant.Filled"
                                Color="Color.Primary"
                                Class="ml-auto">@Localizer["CreateAccount"]</MudButton>
                    </MudCardActions>
                </MudCard>
            </EditForm>
        </MudContainer>
    </div>
}
