@page "/admin/users"
@attribute [Authorize(Policy = PolicyNameDefaults.SuperAdminPolicy)]

<PageTitle>Users</PageTitle>

<MudBreadcrumbs Items="_crumbs"></MudBreadcrumbs>

<MudText Typo="Typo.h4">Users</MudText>
<MudText Class="pb-4" Typo="Typo.body1">Use this page to edit ASP.NET users</MudText>

@*<FeatureFlagView FlagName="UserAdminUI">
    <h1>Feature A is enabled!</h1>
</FeatureFlagView>*@

<MudGrid>
    <MudItem xs="12">
        <MudTable Items="_users"
                  Loading="_isLoading"
                  Dense
                  Striped
                  Virtualize
                  Filter="new Func<ListGreenUserVM,bool>(FilterFunc1)">
            <ToolBarContent>
                <MudButton StartIcon="@Icons.Material.Outlined.Create"
                           Variant="Variant.Filled"
                           Disabled="@_isLoading"
                           Color="Color.Primary"
                           OnClick="OnCreateAsync">Create</MudButton>
                <MudSpacer />
                <MudTextField @bind-Value="_gridSearchString"
                              Placeholder="Search"
                              Adornment="Adornment.Start"
                              AdornmentIcon="@Icons.Material.Outlined.Search"
                              IconSize="Size.Medium" Class="mt-0"></MudTextField>
            </ToolBarContent>
            <ColGroup>
                <col style="width:42%" />
                <col style="width:42%" />
                <col />
            </ColGroup>
            <HeaderContent>
                <MudTh><MudTableSortLabel SortBy="new Func<ListGreenUserVM, object>(x=>x.UserName)">User Name</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<ListGreenUserVM, object>(x=>x.Email)">Email</MudTableSortLabel></MudTh>
                <MudTh></MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="User Name">@context.UserName</MudTd>
                <MudTd DataLabel="Email">@context.Email</MudTd>
                <MudTd>
                    <MudIconButton Icon="@Icons.Material.Outlined.Delete"
                                   OnClick="() => OnDeleteAsync(context)"
                                   Disabled="@_isLoading" />
                    <MudIconButton Icon="@Icons.Material.Outlined.Edit"
                                   OnClick="() => OnEditAsync(context)"
                                   Disabled="@_isLoading" />
                </MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager />
            </PagerContent>
            <NoRecordsContent>
                No users found
            </NoRecordsContent>
            <LoadingContent>
                Loading ...
            </LoadingContent>
        </MudTable>
    </MudItem>
</MudGrid>

